<?xml version="1.0" ?>
<config>
    <modules>
        <DS_Slider>
            <version>0.0.1</version>
        </DS_Slider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dsslider>
                    <file>ds_slider.xml</file>
                </dsslider>
            </updates>
        </layout>
        <routers>
            <dsslider>
                <use>standard</use>
                <args>
                    <module>DS_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </dsslider>
        </routers>
    </frontend>
    <global>
        <blocks>
            <dsslider>
                <class>DS_Slider_Block</class>
            </dsslider>
        </blocks>
        <models>
            <dsslider>
                <class>DS_Slider_Model</class>
                <resourceModel>dsslider_resource</resourceModel>
            </dsslider>
            <dsslider_resource>
                <class>DS_Slider_Model_Resource</class>
                <entities>
                    <table_slider>
                        <table>ds_slider_entities</table>
                    </table_slider>
                </entities>
            </dsslider_resource>
        </models>
        <resources>
            <dsslider_setup>
                <setup>
                    <module>DS_Slider</module>
                </setup>
            </dsslider_setup>
        </resources>
    </global>
</config>