<?xml version="1.0" ?>
<config>
    <modules>
        <DS_News>
            <version>0.0.1</version>
        </DS_News>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dsnews>
                    <file>ds_news.xml</file>
                </dsnews>
            </updates>
        </layout>
        <routers>
            <dsnews>
                <use>standard</use>
                <args>
                    <module>DS_News</module>
                    <frontName>news</frontName>
                </args>
            </dsnews>
        </routers>
    </frontend>
    <global>
        <helpers>
            <dsnews>
                <class>DS_News_Helper</class>
            </dsnews>
        </helpers>
        <blocks>
            <dsnews>
                <class>DS_News_Block</class>
            </dsnews>
        </blocks>
        <models>
            <dsnews>
                <class>DS_News_Model</class>
                <resourceModel>dsnews_resource</resourceModel>
            </dsnews>
            <dsnews_resource>
                <class>DS_News_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>ds_news_entities</table>
                    </table_news>
                </entities>
            </dsnews_resource>
        </models>
        <resources>
            <dsnews_setup>
                <setup>
                    <module>DS_News</module>
                </setup>
            </dsnews_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <dsnews_admin>
                <use>admin</use>
                <args>
                    <module>DS_News</module>
                    <frontName>dsnews_admin</frontName>
                </args>
            </dsnews_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <dsnews module="dsnews">
                <title>News</title>
                <sort_order>77</sort_order>
                <action>dsnews_admin/adminhtml_news</action>
            </dsnews>
        </menu>
    </adminhtml>
</config>